body {
		height: 100%;
		width: 100%;
	}

	@font-face {
		font-family: mainFont;
		src: url("game_boy.ttf");
	}

	@font-face {
		
	}

	.ui-widget-header {
        background: #ffba00;
        border: 1px solid #ffba00;
        color: #ffba00;
        font-weight: bold;
    }

	div.ressourcesWrapper { 
		position:absolute;
		right:10px;
		bottom:32px;
		font-size: 30px;
		font-family: arial;
		width: 140px;
		height:65px;
		text-align:left;
		background-image: url("beige_panel.png");
	}

	div#FoodCounter, div#PopulationCounter {
		position:relative;
		display:inline-block;
		width: 150px;
		height:30px;
	}

	div#FoodCounter img, div#PopulationCounter img{
		position:relative;
		display:inline-block;
		width: 32px;
		margin-left:5px;
		margin-right:10px;
		bottom:-4px;
	}

	div#FoodCounter a, div#PopulationCounter a{
		position:relative;
		display:inline-block;
		font-family: mainFont;
		font-size :16px;
		bottom:4px;
		letter-spacing: -2px;
		color:#838796;
	}

	#whatDoWeDoTimer{
		position:absolute;
		height:64px;
		width: 416px;
		top:6px;
		margin-right: auto;
		margin-left:auto;
		left: 0;
		right: 0;
		background-color: white;
	}

	div.whatDoWedoWrapper{

		display: block;
		position: absolute;
		top: -10px;
		width: 416px;
		height: 128px;
		margin-right: auto;
		margin-left:auto;
		left: 0;
		right: 0;
		background-image: url("panel_grey_wide_bigger.png");				
		z-index:1;
	}

	div.whatDoWedoWrapper:hover, div.whatDoWedoWrapper:active{

		top:-5px;
		background-image: url("panel_grey_wide_bigger_pressed.png");
	}

	.whatDoWeDoText{

		display:inline-block;
		position: absolute;
		margin-left:  14px;
		margin-right:  4px;
		top: 35px;
		width: 310px;
		height: 75px;		
		font-size: 30px;
		font-family: mainFont;
		text-align:left;
		color:#b9bdc9;		
	}

	.whatDoWeDoNumber{

		display:inline-block;
		position: absolute;
		margin-left:  14px;
		margin-right:  4px;
		right:20px;
		top: 30px;
		width: 100px;
		height: 75px;		
		font-size: 65px;
		letter-spacing: -10px;
		font-family: mainFont;		
		color:white;
		text-align:right;
	}

	#whatDoWeDoButtonsWrapper {

		position: absolute;
		top: 104px;
		width: 384px;
		height: 128px;
		margin-right: auto;
		margin-left:auto;
		left: 0;
		right: 0;
		background-image: url("panel_grey_wide.png");
		text-align:center;
		z-index:0;
	}

	.topButton{

		display:inline-block;
		position: relative;
		margin-left:  10px;
		margin-right:  10px;
		margin-top: 8px;
		width: 96px;
		height: 96px;
		background-image: url("button_brown96.png");	
	}

	.whatDoWeDoButtonsText{

		display:inline-block;
		position: relative;
		margin-left:  4px;
		margin-right:  4px;
		top: -2px;
		width: 110px;
		height: 10px;		
		font-size: 14px;
		font-family: mainFont;
		text-align:center;
		color:#b9bdc9;
	}

	.topButton:hover{
		
		top:4px;
		background-image: url("button_brown_pressed96.png");		
	}

	

	div.buildButtonWrapper {
		position: absolute;
		bottom: -20px;
		width: 384px;
		height: 128px;
		margin-right: auto;
		margin-left:auto;
		left: 0;
		right: 0;
		background-image: url("panel_brown.png");
	}
	
	.bottomButton{
		display:inline-block;
		position: relative;
		margin-left:  8px;
		margin-top: 32px;
		width: 64px;
		height: 64px;		
		background-image: url("bottom_button_grey.png");
	
	}

	.bottomButton:hover{
		
		top:4px;
		background-image: url("bottom_button_grey_pressed.png");
		
	}

	#helpButton {

		position: absolute;
		top: 4px;
		width: 64px;
		height: 64px;		
		right: 0;
		background-image: url("help_button.png");
	
	}

	#helpButton:hover, #helpButton:active {

		background-image: url("help_button_pressed.png");
	
	}

	#helpWindowContainer{

		display: none;
		position: absolute;		
		width:105%;
		height:105%;
		background: rgba(0, 0, 0, .75);
		z-index:10;
		left:-5%;
		top:-5%;
	}

	#helpWindow{

		display: block;
		position: relative;		
		margin:auto;
		margin-top: 70px;
		width:600px;
		height:500px;
		background-image: url("help_bg.png");	
    	background-size: 100% 100%;
		z-index:10;
	}

	#helpWindowClose{

		display: block;
		position: absolute;		
		top:-16px;
		right:-16px;
		width: 64px;
		height: 64px;
		background-image: url("bottom_button_grey.png");	
    	background-size: 100% 100%;
    	background-repeat: no-repeat;
		z-index:10;
	}

	#helpWindowClose:hover, #helpWindowClose:active {

		background-image: url("bottom_button_grey_pressed.png");	
    	
	}

	#helpWindowClose img {

		position:relative;
		display:block;
		margin:auto;
		width:45px;
		height:45px;
		top:7px;
	}

	#helpWindowClose:hover img, #helpWindowClose:active img {

		top:11px;
	}